<mat-card class="max-w-md mx-auto mt-6">
  <mat-card-header>
    <div mat-card-avatar>
      <img [src]="student?.profilephoto" alt="Profile Photo" />
    </div>
    <mat-card-title>{{ student?.name }}</mat-card-title>
    <mat-card-subtitle
      >{{ student?.class }} - {{ student?.division }}</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <p><strong>Age:</strong> {{ student?.age }}</p>
    <p><strong>year</strong> {{ student?.year }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="primary" [routerLink]="['../../']">
      Back to List
    </button>
  </mat-card-actions>
</mat-card>
